@import '@styles/var.scss';
@import '@styles/animation.scss';
@import '@styles/mixins.scss';

ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-bottom: 2rem;
    list-style: none;
}

li {
    margin-top: 1rem;
}

@include md (desktop) {
    ul {
        flex-direction: row;
        flex-wrap: wrap;
        flex: 4;
        row-gap: 1rem;
        column-gap: 1rem;
        width: 100%;
    }

    li {
        width: auto;
        flex-grow: 1;
    }
}