@import '@styles/var.scss';
@import '@styles/animation.scss';
@import '@styles/mixins.scss';

.experience_container {
    background: var(--fourth);
    padding: 1.5rem;

    h3 {
        margin-top: 0.4rem;
    }
}

#company {
    margin:0;
}