@import '@styles/var.scss';
@import '@styles/animation.scss';
@import '@styles/mixins.scss';

.presentation_header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: $font_family;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 3.5rem;

}

.presentation {
  color: $secondary;
}

.presentation,
.presentation_btn {
  margin-top: 2rem;
  animation: animated-presentation 4s steps(30, end) 7s 1 normal both;
}

.presentation_btn {
  background: none;
  border: 1px solid $primary;
  color: $primary;
  padding: 1rem 3rem 1rem 3rem;
  margin-top: 3rem;
  font-size: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.presentation_btn:hover {
  color: #fff;
  background: $hover_btn;
  cursor: pointer;
}


.line__1,
.line__2,
.line__3 {
  width: min-content;
  white-space: nowrap;
  overflow: hidden;
  margin: -0.2rem;
  font-size: 2rem;
  font-weight: bold;
}

.line__1 {
  border-right: 2px solid $background;

  animation: animated-text__1 1.2s steps(30, end) 1s 1 normal both,
    animated-cursor 250ms steps(30, end) 8;
}

.line__2 {
  border-right: 2px solid $background;

  animation: animated-text__2 1s steps(30, end) 1s 1 normal both,
    animated-cursor 250ms steps(30, end);
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.line__3 {
  border-right: 2px solid $background;

  animation: animated-text__3 2.5s steps(30, end) 1s 1 normal both,
    animated-cursor 1200ms steps(30, end) infinite;
  -webkit-animation-delay: 3.8s;
  animation-delay: 3.8s;
}

@keyframes animated-cursor {
  from {
    border-right-color: $background;
  }

  to {
    border-right-color: rgba(255, 255, 255, 0.8);
  }
}

@keyframes animated-text__1 {
  from {
    width: 0;
  }

  to {
    width: 4.5rem;
  }
}

@keyframes animated-text__2 {
  from {
    width: 0;
  }

  to {
    width: 8.2rem;
  }
}

@keyframes animated-text__3 {
  from {
    width: 0;
  }

  to {
    width: 21.2rem;
  }
}

@include md(desktop) {

  .presentation_container {
    font-weight: 400;
  }

  .presentation_header {
    padding-top: 7.5rem;
  }

  .presentation {
    font-size: 1.1rem;
  }

  .presentation_btn {
    margin-top: 3.5rem;
  }

  .line__1,
  .line__2,
  .line__3 {
    font-size: 4rem;
  }

  .presentation {
    max-width: 75ch;
  }

  @keyframes animated-text__1 {
    from {
      width: 0;
    }

    to {
      width: 9.5rem;
    }
  }

  @keyframes animated-text__2 {
    from {
      width: 0;
    }

    to {
      width: 17.2rem;
    }
  }

  @keyframes animated-text__3 {
    from {
      width: 0;
    }

    to {
      width: 42.2rem;
    }
  }
}