@import "@styles/var.scss";

#hamburger_check:checked ~ .hamburger_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
    z-index: 4;
    width: 100vw;
    height: 92vh;
    background-color: var(--background);

    div {
        display: flex;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid var(--fourth);
        padding: 1rem;
    }

    section {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    a {
        text-decoration: none;
        color: var(--secondary);
    }

    svg {
        width: 1.5rem;
        height: 1.5rem;

        fill: var(--color);

    }

    #first_element {
        border-top: 1px solid var(--fourth);
        margin-top: 1.8rem;
    }

    .link_focus {
        color: $primary;
    }

    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.2rem;
        background: var(--terciary);
        color: var(--color);
        margin-bottom: 2.3rem;

        div {
            border-bottom: none;
            padding: 0;
        }

        .banner_logo {
            font-size: 3.8rem;
        }

        .banner_name {
            font-size: 2.3rem;
            padding-bottom: 0.9rem;
        }

        .banner_ocuppation {
            display: flex;
            align-items: center;
            font-size: 0.9rem;
            padding-bottom: 0.9rem;
            color: var(--secondary);

            span {
                display: flex;
                align-items: center;
                margin-left: 1.5vw;
            }
        }
    }

    #social_container {
        border-bottom: none;
        position: absolute;
        bottom: 8vh;
        padding: 0;
    }
    
    .social_icons {
        text-align: center;
    
        svg {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

}

#hamburger_check:checked header {
    background: #000;
}