@import '@styles/var.scss';
@import '@styles/animation.scss';
@import '@styles/mixins.scss';

.project_card_container {
    background: $fourth;
    padding: 1.5rem;
    margin-bottom: 1.5rem;

    a {
        text-decoration: none;
        color: #fff;

        svg {
            width: 1.2rem;
            height: 1.2rem;
        }
    }

    p {
        margin: 0;
        margin-bottom: 0.5rem;
    }
}

.project_card_img {
    width: 100%;
    object-fit: cover;
    background: $fourth;
}

.project_links {
    display: flex;
    justify-content: space-between;
    width: 16.5%;
}