@import '@styles/var.scss';
@import '@styles/mixins.scss';
@import '@styles/animation.scss';

.home_container {
    display: flex;
    width: 90%;
    height: 100%;
}

#social_container {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-top: 1rem;
    border-bottom: none;
    padding: 0;

    a {
        color: var(--secondary);
        width: 20%;

        svg {
            fill : var(--secondary);
        }
    }
}

#moon_svg {
    width: 0;
    margin-top: 2rem;
    animation: animated-presentation 2s steps(30, end) 6s 1 normal both;

    path, circle, ellipse {
        opacity: 0;
    }
}

@include md(tablet) {
    .home_container {
        height: 90%;
    }

    #social_container {
        width: 10%;
    }

    #moon_svg {
        width: 693px;
        path, ellipse {
            opacity: 1;
        }

        circle {
            opacity: 0.3;
        }
    }
}

@include md(desktop) {
    .home_container {
        align-items: center;
        margin-left: 6rem;
        margin-top: 2rem;
    }

    #social_container {
        width: 25%;
    }

    #moon_svg {
        margin-top: 13vh;
        
        path {
            border: none;
        }
    }
    
    #social_container {
        justify-content: flex-start;

        a {
            svg {
                width: 1.8rem;
                height: 1.8rem;
            }
    
            svg:hover {
                cursor: pointer;
                fill: var(--primary);
            }
        }
    }
}
