@import '@styles/var.scss';
@import '@styles/mixins.scss';

.home_container {
    width: 100%;
}

#social_container {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-top: 1rem;
    border-bottom: none;
    padding: 0;

    a {
        color: $secondary;
        width: 20%;

        svg {
            fill : $secondary;
        }
    }
}

@include md(desktop) {
    .home_container {
        display: flex;
        align-items: center;
        margin-left: 6rem;
        margin-top: 2rem;
    }

    #moon_svg {
        margin-top: 9vh;
        
        path {
            border: none;
        }
    }

    #social_container { 
        justify-content: flex-start;
    }
    
    #social_container {
        a {
            svg {
                width: 1.2rem;
                height: 1.2rem;
            }
    
            svg:hover {
                cursor: pointer;
                fill: $primary;
            }
        }
    }
}
