@import '@styles/var.scss';
@import '@styles/mixins.scss';


.home_container {
    height: 100%;
    width: 100%;
}

@include md(desktop) {
    .home_container {
        margin-left: 6rem;
    }

    #social_container {
        margin-top: 1rem;
        border-bottom: none;
        padding: 0;

        a {
            color: $secondary;
        }
    }
    
    .social_icons {
        margin-right: 0.7rem;
    
        svg {
            width: 1.2rem;
            height: 1.2rem;
        }
    }
}
