@import '@styles/mixins.scss';
@import '@styles/var.scss';
@import '@styles/animation.scss';

.projects_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projects {
  animation: animated-presentation 1s steps(30, end) 1s 1 normal both;
}

@include md (desktop) {
  .projects_container {
    margin-top: 18vh;
    width: 90%;
  }
}