@import './var.scss';
@import './mixins.scss';

body, html {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background: $background;
  color: $color;
  font-family: $font_family;
}

p {
  max-width: 75ch;
}

#root {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;

  header {
    min-height: 10%;
    background: #000;
  }

  main {
    min-height: 90%;
    padding: 0 2rem 0 2rem;
  }

}

@include md(desktop) {
  .container {
    flex-direction: row;

    header {
      position: fixed;
      min-width: 10%;
      background: #181818;
    }

    main {
      min-width: 90%;
      margin-left: 10%;
      padding: 0;
    }
  }

}