@import './mixins.scss';
@import './var.scss';

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100%;

    nav {
        display: none;
    }

    label {
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.5rem;
        position: relative;
        z-index: 5;

        svg {
            width: 80%;
            height: 80%;
        }
    }

    input[type="checkbox"] {
        opacity: 0;
    }
}

#hamburger_check:checked ~ nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    background-color: $background;

    div {
        display: flex;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid #282828;
        padding: 1rem;
    }

    a {
        text-decoration: none;
        color: #909096;
    }

    #first_element {
        border-top: 1px solid #282828;
        margin-top: 1.8rem;
    }

    .link_focus {
        color: red;
    }

    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.2rem;
        background: #000;
        margin-bottom: 2.3rem;

        div {
            border-bottom: none;
            padding: 0;
        }

        .banner_logo {
            font-size: 4.5rem;
        }

        .banner_name {
            font-size: 1.7rem;
            padding-bottom: 0.9rem;
        }

        .banner_ocuppation {
            font-size: 0.9rem;
            padding-bottom: 0.9rem;
            color: #a5a5a5;
        }
    }
}