$background: #1d1d1d;
$color: #fff;
$primary: #00DFFC;
$secondary: #909096;
$terciary: #181818;
$fourth:#2a2a2a;
$font_family: 'Roboto', sans-serif;

$media: (
    tablet: 768px,
    desktop: 1300px,
    large: 1600px,
);